body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    font-size:16px
}

@font-face {
    font-family: 'Caveat', cursive;
    src: url(https://fonts.googleapis.com/css?family=Caveat&display=swap)
}
.r-10{
    transform:rotate(10deg)
}
.r-10-{
    transform:rotate(-10deg)
}
.r-13{
    transform:rotate(13deg)
}
.r-13-{
    transform:rotate(-13deg)
}
.conj_botoes{
    color:#f9f3f4;
    position:absolute;
    text-align:center;
    top:2%;
    left:0;
    width:100%;
    line-height:.4em;
    z-index:9
}
.btext{
    color:#f9f3f4;
    position:absolute;
    text-align:center;
    top:40%;
    width:100%;
    line-height:.4em
}
.btext h1{
    font-size:60px;
    font-family:Caveat,cursive;
    text-shadow:2px 2px 9px #fff
}
.btn{
    color:#fff;
    text-decoration:none;
    padding:10px 15px;
    border-radius:8px;
    line-height:1.2em;
    font-weight:700
}
.btn:hover{
    color:#b19295;
    transform:scale(1.1)
}
.btn.botao-black{
    border-radius:3px;
    padding:7px 20px;
    min-width:120px;
    display:inline-block;
    font-size:15px;
    font-weight:500;
    margin-bottom:20px;
    transition:all ease .4s;
    box-shadow:#0f1643 0 0 12px inset,#ffffffb0 0 0 16px;
    color:#fff;
    margin-right:15px;
    border:3px solid #b2eef1
}
.btext .botao-black:focus,.btext .botao-black:hover{
    background:#221201;
    color:#fff
}
.btn.botao-red{
    border-radius:3px;
    padding:7px 20px;
    min-width:120px;
    display:inline-block;
    background:rgba(20,20,20,.1);
    font-size:13px;
    font-weight:500;
    margin-bottom:20px;
    transition:all ease .4s;
    box-shadow:#0f1643 0 0 12px inset,#ccc 0 0 12px;
    color:#e4e4e4;
    margin-right:15px;
    border:3px solid rgba(255,255,255,.8)
}
.botao-red{
    background:#221201;
    color:#fff
}
.botao-red:hover{
    background:#221201;
    transform:scale(1.1)
}
.btn.botao-blue{
    border-radius:3px;
    padding:7px 20px;
    min-width:120px;
    display:inline-block;
    background:rgba(20,20,20,.1);
    font-size:13px;
    font-weight:500;
    margin-bottom:20px;
    transition:all ease .4s;
    box-shadow:#0f1643 0 0 12px inset,#555658 0 0 12px;
    color:#e4e4e4;
    margin-right:15px;
    border:3px solid #9e9e9e
}
.btext .botao-blue:focus,.btext .botao-blue:hover{
    background:#221201;
    color:#fff
}
.botao-blue:hover{
    background:#221201;
    transform:scale(1.1)
}
.btn.botao-blackB{
    border-radius:3px;
    padding:7px 20px;
    min-width:120px;
    display:inline-block;
    background:rgba(20,20,20,.1);
    font-size:13px;
    font-weight:500;
    margin-bottom:20px;
    transition:all ease .4s;
    box-shadow:#0f1643 0 0 12px inset,#7d7a7ab0 0 0 12px;
    color:#e4e4e4;
    margin-right:15px;
    border:3px solid rgba(0,0,0,.8)
}
.btext .botao-blackB:focus,.btext .botao-blackB:hover{
    background:#221201;
    color:#fff
}
.tabela_botoes tr td{
    width:25%
}
.tabela_botoes .btn{
    padding:7px 30px
}
.creditos-icones{
    color:#ccc;
    font-size:.75rem;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:3;
    font-weight:600;
    box-shadow:0 0 24px 0 rgba(7,0,14,.51);
    background-color:#00000047
}
.creditos-icones a{
    cursor:pointer
}
.creditos-icones .container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.icones-info{
    width:20px;
    height:20px
}
.icones-info img{
    position:absolute;
    right:10px;
    width:15px;
    height:15px;
    color:#fff;
    margin-top:-10px
}
#particles-js{
    background-image:url(image1.jpg);
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-position:50% 50%;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    background-size:cover
}
.nav{
    height:0px;
    width:100%;
    background-color:transparent;
    position:relative;
    transition:all 3s ease-in;
    z-index:19
}
.nav>.nav-header{
    display:inline
}
.nav>.nav-header>.nav-title{
    display:inline-block;
    font-size:22px;
    color:#fff;
    padding:10px 10px 10px 10px;
    font-family:'Indie Flower',cursive;
}
.nav>.nav-btn{
    display:none
}
.nav>.nav-links{
    display:inline;
    float:right;
    font-size:12px
}
.nav>.nav-links>a{
    display:inline-block;
    padding:13px 10px 13px 10px;
    text-decoration:none;
    color:#fff;
    font-family:Raleway,sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:500;
    text-shadow:2px 2px 9px #000
}
.nav>.nav-links>a:hover{
    background-color:rgba(0,0,0,0);
    color:#ffffffc0;
    text-shadow:0 2px 16px #dcd6dc
}
.nav>#nav-check{
    display:none
}
@media (max-width:600px){
    .nav>.nav-btn{
        display:inline-block;
        position:absolute;
        right:0;
        top:0
    }
    .nav>.nav-btn>label{
        display:inline-block;
        width:50px;
        height:50px;
        padding:13px
    }
    .nav>.nav-btn>label:hover{
        background-color:rgba(0,0,0,.3)
    }
    .nav>.nav-btn>label>span{
        display:block;
        width:25px;
        height:10px;
        border-top:2px solid #eee
    }
    .nav>.nav-links{
        position:absolute;
        display:block;
        width:100%;
        background-color:transparent;
        height:0;
        transition:all .3s ease-in;
        overflow-y:hidden;
        top:50px;
        left:0
    }
    .nav>.nav-links>a{
        display:block;
        width:100%
    }
    .nav>#nav-check:not(:checked)+.nav-links{
        height:0
    }
    .nav>#nav-check:checked+.nav-links{
        height:calc(100vh - 50px);
        overflow-y:auto
    }
}
a.sublinhado:hover{
    text-decoration:underline
}
.blog-card{
    width:350px;
    height:500px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-250px 0 0 -175px;
    overflow:hidden;
    border-radius:10px;
    box-shadow:3px 3px 20px rgba(0,0,0,.5);
    text-align:center
}
.blog-card.spring-fever{
    background:url(img/bg-blog-card.jpg) no-repeat
}

.blog-card.eis-me{
    background:url(img/bg-card-eismeaqui.jpg) no-repeat
}
.blog-card .color-overlay{
    background:rgba(15,16,17,.51);
    width:350px;
    height:500px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    transition:background .3s cubic-bezier(.33,.66,.66,1)rgba(15,16,17,.51)
}
.blog-card .gradient-overlay{
    background-image:-webkit-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.6) 21%);
    background-image:-moz-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.6) 21%);
    background-image:-o-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.6) 21%);
    background-image:linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.6) 21%);
    width:350px;
    height:500px;
    position:absolute;
    top:350px;
    left:0;
    z-index:15
}
.blog-card:hover .color-overlay{
    background:rgba(25,11,0,.5)
}
.blog-card .fechar-card{
    position:absolute;
    right:15px;
    top:20px;
    z-index:99
}
.blog-card .fechar-card img{
    width:20px;
    height:20px
}
.title-content{
    text-align:center;
    margin:20px 0 0 0;
    position:absolute;
    z-index:20;
    width:100%;
    top:0;
    left:0
}
.title-content h3{
    font-size:20px;
    font-weight:500;
    letter-spacing:2px;
    color:#fff;
    font-family:Roboto,sans-serif;
    margin-bottom:0
}
hr{
    width:50px;
    height:3px;
    margin:20px auto;
    border:0;
    background:#b2eef1
}
.intro{
    width:170px;
    margin:0 auto;
    color:#dce3e7;
    font-family:'Droid Serif',serif;
    font-size:15px;
    font-style:italic;
    line-height:18px
}
.card-info{
    width:100%;
    position:relative;
    bottom:-120px;
    left:0;
    margin:0 auto;
    padding:10px 10px;
    color:#dce3e7;
    font-size:14px;
    line-height:24px;
    z-index:20;
    opacity:1;
    transition:bottom .3s,opacity .3s cubic-bezier(.33,.66,.66,1)
}
.utility-info{
    position:absolute;
    bottom:0;
    left:0;
    z-index:20
}
.utility-list{
    list-style-type:none;
    margin:0 0 10px 10px;
    padding:0;
    width:100%
}
.utility-list li{
    margin:0 15px 0 0;
    padding:0 0 0 22px;
    display:inline-block;
    color:#dce3e7;
    font-family:Roboto,sans-serif;
    font-size:12px
}
.utility-list li.date{
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 .1em
}
.utility-list li.equipe{
    background:url(img/team.svg) no-repeat 0 .1em;
    height: 15px;
}
.menu-items{
    position:relative;
    text-align:center;
    margin-bottom:0;
    padding-left:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-left:-20px;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.menu-items.li-item{
    text-align:center;
    position:relative;
    display:inline-block;
    margin-left:5px
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .Textotelasgrandes{
  opacity: 100;
}
  .Textomobile{
  display: none;
}

 p.versiculopequeno {
  display: none;
 }

 p.versiculogrande {
  opacity: 100;
      padding: 0px 300px 15px;
    margin: 0 60px;
    letter-spacing: .1rem;
    line-height: 1 !important;

 }

}


 dfn {
  padding: 0 0;
  cursor: help;
  font-style: normal;
  position: relative;
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: -200px;
  opacity: 0; 
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  margin-top: -140px;
}
dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}